<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <script type="text/x-handlebars">
    <h1>hasCode.com - Ember.js Sample</h1>
    <hr/>
    <ul>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'articles'}}Articles{{/link-to}}</li>
    </ul>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <div>Welcome, visitor</div>
  </script>

  <script type="text/x-handlebars" data-template-name="articles">
    <h2>Articles</h2>
    <table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Published</th>
			</tr>
		</thead>
		<tbody>
			{{#each}}
			<tr>
				<td>{{title}}</td>
				<td>{{author}}</td>
				<td>{{isPublished}}</td>
			</tr>
			{{/each}}
		</tbody>
    </table>
  </script>
  
  <script src="js/libs/jquery-1.9.1.js"></script>
  <script src="js/libs/handlebars-1.0.0.js"></script>
  <script src="js/libs/ember-1.0.0.js"></script>
  <script src="js/libs/ember-data.min.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/model/article.js"></script>
</body>
</html>
